<div class="page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2><%= action_type %></h2>
      </div>
      <div class="col-sm-6 text-right">
        <ol class="breadcrumb">
          <li><%= link_to '返回首页', root_path %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="space70"></div>
