<!DOCTYPE html>
<html>
<head>
  <title>Cgc</title>
  <%= stylesheet_link_tag    "cgc/application", media: "all" %>
  <%= javascript_include_tag "cgc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
