<!--call to action-->
<div class="cta-skin jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>学编程，一起做有趣的事情</h3>
        <blockquote class="bg-primary lead">
          <p>
          <%= t("CGC Intro 1") %>
          <br>
          <br>
          <%= t("CGC Intro 2") %>
          </p>
        </blockquote>
      </div>
      <div class="col-sm-4 text-right">
        <div class="space20"></div>
        <a href="#" class="btn btn-lg btn-border-white">Join Today
          <i class="fa fa-edit"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end call to action-->
