<li class="col-md-6 shaded-bg">
  <h4 class="main-heading">职业工作坊</h4>
  <ul class="seminars list-unstyled">
    <% 3.times do %>
      <li>
        <h5><%= link_to 'Annual Parents Meeting', '#' %></h5>
        <p class="info"> <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
        <p>
        It is a long established fact that a reader will be distracted by the readable content...
        <%= link_to '查看详情', '#' %>
        </p>
      </li>
    <% end %>
  </ul>
</li>
