<li class="col-md-4 shaded-bg">
  <h4 class="main-heading">
    <%= t("Career Workshops") %>
  </h4>
  <ul class="seminars list-unstyled">
    <li>
      <h5>
        <a href="#">Annual Parents Meeting</a>
      </h5>
      <p class="info">
      <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </li>
    <li>
      <h5>
        <a href="#">Annual Parents Meeting</a>
      </h5>
      <p class="info">
      <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </li>
    <li>
      <h5>
        <a href="#">Annual Parents Meeting</a>
      </h5>
      <p class="info">
      <span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </li>
  </ul>
</li>
