<div class="fullwidthbanner">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Community Courses">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-1.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title dark sft" data-x="50" data-y="160" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          <span class="colored-text">FREE</span>
          UNIVERSITY COURSE
        </div>

        <div class="caption slider-caption dark sfl" data-x="50" data-y="310" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          CGC runs free part-time coding courses for female university students.
          <br>
          also providing affordable courses for female professionals.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="380" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Learn to Code
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Self-Organizing">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-2.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title light sft" data-x="50" data-y="160" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          <span class="colored-text">SELF-ORGANIZING</span>
          CLUB
        </div>

        <div class="caption slider-caption light sfl" data-x="50" data-y="310" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          The best organization's architectures, interactions, and designs emerge from self-organizing clubs.
          <br>
          Roles must work together daily throughout the club.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="380" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Join a Club
            <i class="fa fa-edit"></i>
          </a>
        </div>
      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Volunteer Mentors">
        <!-- MAIN IMAGE -->
        <%= image_tag("homepage/bg-3.jpg", alt: "darkblurbg",  'data-bgfit': "cover", 'data-bgposition': "left top", 'data-bgrepeat': "no-repeat") %>

        <div class="caption slider-title dark sft" data-x="50" data-y="200" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
          AMAZING
          <span class="colored-text">VOLUNTEER</span>
          MENTORS
        </div>

        <div class="caption slider-caption dark sfl" data-x="50" data-y="290" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
          All of our community courses are run for free,
          <br>
          and we do this with the help of our amazing volunteer instructors.
        </div>
        <div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="360" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
          <a href="#" class="btn btn-skin btn-lg">Become a Mentor
            <i class="fa fa-cogs"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--full width banner-->
