<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-graduation-cap"></i>
        <h3>编程课程</h3>
        <p><b>One</b>, 我们支持年轻和在职女性进一步发展个人和专业技能，包括编程的技艺以及其他个人技能。</p>
        <li class="text-danger">免费大学编程课</li>
        <li class="text-danger">在职女性编程课</li>
        <li class="text-danger">大师课</li>
        <%= link_to '#' do %>
          <i class="fa fa-caret-right"></i>
          查看详情
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-users"></i>
        <h3>社群</h3>
        <p><b>Two</b>, 我们将女性与社群里面其他才华横溢的会员、兴致相投的姐妹以及愿意支持女性的企业联合起来，组建社群陪伴和支持女性的职业发展。”</p>
        <li class="text-danger">职业工作坊</li>
        <li class="text-danger">实习</li>
        <li class="text-danger">招聘</li>
        <%= link_to '#' do %>
          <i class="fa fa-caret-right"></i>
          查看详情
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
    <div class="col-md-4 col-sm-6 margin-btm-30">
      <div class="blue-boxe">
        <i class="fa fa-building"></i>
        <h3>企业合作</h3>
        <p><b>Three</b>, “帮助企业训练员工、招聘新人，帮助制定人力管理政策和流程，以便帮助企业增加更多优秀女性人才”</p>
        <li class="text-danger">企业教育</li>
        <li class="text-danger">企业关系</li>
        <li class="text-danger">人才战略</li>
        <%= link_to '#' do %>
          <i class="fa fa-caret-right"></i>
          查看详情
        <% end %>
      </div>
      <!--Blue Boxes-->
    </div>
    <!--Col-->
  </div>
  <!--row-->
</div>
<!--container-->
