<li class="col-md-4 white-bg">
  <h4 class="main-heading">
    <%= t("Latest News") %>
  </h4>
  <div class="latest-news">
    <a href="#" class="thumb">
      <%= image_tag("assan/g1.jpg", class: "img-responsive", alt:"", width: "100") %>
    </a>
    <div class="news-content">
      <h5>
        <a href="#">Loem ipsum dolor amet</a>
      </h5>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </div>
  </div>
  <div class="latest-news">
    <a href="#" class="thumb">
      <%= image_tag("assan/g7.jpg", class: "img-responsive", alt:"", width: "100") %>
    </a>
    <div class="news-content">
      <h5>
        <a href="#">Loem ipsum dolor amet</a>
      </h5>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </div>
  </div>
  <div class="latest-news">
    <a href="#" class="thumb">
      <%= image_tag("assan/g8.jpg", class: "img-responsive", alt:"", width: "100") %>
    </a>
    <div class="news-content">
      <h5>
        <a href="#">Loem ipsum dolor amet</a>
      </h5>
      <p>
      It is a long established fact that a reader will be distracted by the readable content...
      <a href="#">MORE</a>
      </p>
    </div>
  </div>
</li>
