<div class="newsletter-section">
  <div class="container">
    <div class="center-heading margin-btm-50">
      <h2><%= t("Subscribe to our newsletter") %></h2>
      <span class="border-width"></span>
      <p>Want to get updates about Coding Girls Club?</p>
    </div>
    <form>
      <input type="email" class="form-control" placeholder="Eamil">
      <button type="button" class="btn btn-skin btn-lg">Subscribe</button>
    </form>
  </div>
</div>
