<div class="row">
  <div class="col-md-12">
    <%= render partial: 'layouts/cgc/breadcrumb', locals: { objects: { home: 'root_path', '问题管理': 'qas_path' }} %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">编辑问题</h4>
      </div>
      <div class="panel-body">
        <%= render partial: 'form', locals: { url: qa_path(@qa) } %>
      </div>
    </div>
  </div>
</div>
