<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><%= flash[:notice] %></h4>
  </div>
  
<% elsif flash[:alert] %>

  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><%= flash[:alert] %></h4>
  </div>
<% end %>